body{
  background-color: orange;
}
.naslov{
  text-align: center;
}
.slika{
  border: double orangered 5px;

}
.isti{
  color:gray;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.drugi_p{
  color: darkcyan;
}
.link{
  color: red;
}
.link:hover{
  color: greenyellow;
}