*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  overflow: hidden;
  background-color: rgb(2, 27, 103);
}
div{
  float: left;
  padding: 10px;
}
a{
  color: white;
  text-decoration: none;
  padding: 10px;
}
.left{
  
}
.midle{
  background-color: rgb(0, 0, 27);
  margin-left: 200px;
}
.right{
  float: right;
}
.mozzart{
  font-weight: bold;
}
.uloguj_se{
  border-right: 1px solid white;
}